.bg-cover{
    
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -2;
}

.bg-filter{
  z-index: -1;
}

h2{
  color: #f6821f;
  
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #f6821f;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #f6821f;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #f6821f;
  border-bottom-color: #f6821f;
}

.nav-tabsp .nav-link {
  color: #424242;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-tabsp .nav-link:hover,
.nav-tabsp .nav-link:focus {
  color: #f6821f;
}

.nav-tabsp .nav-link + .nav-link {
  margin-left: 1rem;
}


.nav-tabsp .active {
  color: #f6821f !important;
}

.color-marca{  
  color: #f6821f !important;
}
/*formulario login*/

.contenedor{
  margin: 100px auto;
  width: 25%;
  text-align: center;
}

.contenedor h1{
  margin: 20 0 20px;
  padding: 0 0 13px;
  font-size: 30px;
  color: #f6821f;
  text-align: center;
}

.contenedor .element{
  margin-top: 20px;
}

.contenedor .element .label{
  margin-bottom: 5px;
  text-align: left;
  color: black;
}

.contenedor .element input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px #cdc solid;
}


/*Formulario contacto*/
.contacto{
  width: 70%;
  text-align: center;
  display:inline-block;
  margin-bottom: 30px;
}
.contacto h2{
  
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #f6821f;
  text-align: center;
}
.contacto .element{
  margin: 10px;
  font-size: 15px;
}
.contacto .element .label{
  margin-bottom: 5px;
  text-align: left;
  color: black;
}
.contacto .element input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px #cdc solid;
}
.contacto .element textarea{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px #cdc solid;
}

#info{
  color: black;
}

#info h2{
  margin-bottom: 10px;
  padding: 0;
  font-size: 30px;
  color: #f6821f;
  text-align: center;
}